<!DOCTYPE html>
<html lang="zh-ch" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>{$site.title} - {$site.subtitle}</title>
    <meta name="keywords" content="{$site['keywords']}" />
    <meta name="description" content="{$site['description']}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="{$font_awesome}">
    <link rel="stylesheet/less" href="./templates/home/tushan2/static/index.less" />
    <script src="./templates/home/tushan2/static/less.js"></script>
    <script src='{$jquery}'></script>
    <script src="{$layer}"></script>
    <script src = "{$holmes}"></script>
    <link rel="shortcut icon" href="{$favicon}">
    {$site['custom_header']|raw}
    {$global_config['global_header']|raw}
</head>

<body class="v-cloak">
    <div class="banner">
        <img src="{$background}" />
    </div>
    <header>
        <div></div>
        <time class="time">
            <span class="date"></span>
            <br />
            <span class="datetime"></span>
        </time>
    </header>
    <main>
        <h1>{$site.title}</h1>
        <div class="timedateBox">
           
        </div>
        <div class="searchEngine {if $searchEngine!='on'}hidden{/if}">
            <ul>
                <li data-name='Baidu' data-url='https://www.baidu.com/s?wd='>
                    <img src="./templates/home/tushan2/static/svg/baidu.svg" />
                    <span style='color:rgb(48,108,255)'>百度</span>
                </li>
                <li data-name='Bing' data-url='https://www.bing.com/search?q='>
                    <img src="./templates/home/tushan2/static/svg/Bing.svg" />
                    <span style='color:rgb(20,136,236)'>必应</span>
                </li>
                <li data-name='Bilibili' data-url='https://search.bilibili.com/all?keyword='>
                    <img src="./templates/home/tushan2/static/svg/bilibili.svg" />
                    <span style='color:rgb(32,176,227)'>哔哩哔哩</span>
                </li>
                <li data-name='Google' data-url='https://www.google.com/search?q='>
                    <img src="./templates/home/tushan2/static/svg/google.svg" />
                    <span id="google">谷歌</span>
                </li>
                <li data-name='Weibo' data-url='https://s.weibo.com/weibo?q='>
                    <img src="./templates/home/tushan2/static/svg/weibo.svg" />
                    <span style="color:rgb(211,32,36)">微博</span>
                </li>
            </ul>
        </div>
        <div class="search-input">
            <input placeholder="搜索一下！" name="search" value="" id="search">
            <button class="seartchBtn">
                <img src="./templates/home/tushan2/static/svg/search.svg" />
            </button>
            <div id="searchRecommend" style="display: none;">
                <div class="searchResult"></div>
            </div>
        </div>
        <div class="links">
            {foreach $categorys as $key => $vo}
            <div class="links-items">
                <div class="classTitle">
                    <i class='{$vo.font_icon}'></i>
                    <h2> {$vo.name}</h2>
                </div>
                <div class="icons">
                    {foreach $vo['links'] as $k => $v}
                    <a class="icons-item" target="_blank" href="{$v['url']}">
                        <div class="logo">
                            <img src="{$v['ico']}" alt="HUAN" width="16" height="16">
                        </div>
                        <span class="logo-title">{$v['title']}</span>
                    </a>
                    {/foreach}
                </div>
            </div>
            {/foreach}
        </div>
        <footer class="show">
            <a href="{$admin|raw}">系统管理</a> | {$copyright|raw} | The theme author is tushan | {$ICP|raw}
            {$site['custom_footer']|raw} 
            {$global_config['global_footer']|raw} 
		</footer>
    </main>
</body>

<script>
    function renderTime() {
        const now = new Date();
        const year = now.getFullYear();     // 四位数的年份
        const month = now.getMonth() + 1;   // 月份从0开始，需要加1
        const day = now.getDate();          // 日
        const hour = now.getHours();      // 当前小时数（0-23）
        const minute = now.getMinutes();
        const second = now.getSeconds();
        const dateStr = `${year}年${month}月${day}日`;
        const datetime = `${hour < 10 ? '0' + hour : hour}:${minute < 10 ? '0' + minute : minute}`;
        $('.date').text(dateStr);
        $('.datetime').text(datetime);
    }
    renderTime();
    setInterval(renderTime, 1000)
    $("#searchRecommend").hide();
    let searchEngine = localStorage.getItem("searchEngine");
    $(".searchEngine li").click(function () {
        $(".searchEngine li").removeClass("selectEngine")
        $(this).addClass("selectEngine")
        searchEngine = $(this).attr('data-name')
        localStorage.setItem("searchEngine", searchEngine);
        $(".seartchBtn").css('background', $(this).find('span').css('color'))
    })
    if (!searchEngine || '{$searchEngine}' != 'on') {
        searchEngine = 'Baidu'
    }
    $(`[data-name='${searchEngine}']`).addClass('selectEngine');
    $(".seartchBtn").css('background', $(`[data-name='${searchEngine}']`).find('span').css('color'))
    function openWindow(url, isNew = false) {
        let a = document.createElement("a");
        a.href = url;
        if (isNew) {
            a.target = "_blank"
        }
        a.click();
        a.remove();
    }
    function search() {
        let searchEngineUrl = $(`[data-name='${searchEngine}']`).attr("data-url");
        let url = searchEngineUrl + $('[name="search"]').val();
        openWindow(url, true)
    }
    function handleSuggestion(data) {
        if (data.length > 0) {
            $("#searchRecommend").show();
        } else {
            $("#searchRecommend").hide();
        }
        $(".searchResult").html("");
        let index = 0;
        data.forEach((item) => {
            if (index < 10) {
                let suggestion = document.createElement("p");
                suggestion.textContent = item;
                $(".searchResult").append(suggestion)
            }
            index += 1;
        });
        $(".searchResult p").off("click").click(function () {
            $("[name='search']").val($(this).text());
            search();
        })
    }
    $(".seartchBtn").click(search);
    $('[name="search"]').keypress(function (e) {
        if (e.which == 13) {
            search()
        }
    });
    function debounce(fn, delay) {
        let timerId;
        return function () {
            const context = this;
            const args = arguments;
            clearTimeout(timerId);
            timerId = setTimeout(function () {
                fn.apply(context, args);
            }, delay);
        }
    }
    function handleScroll() {
        const keyword = $(this).val();
        $.ajax({
            url: 'https://www.baidu.com/sugrec?prod=pc&wd=' + keyword,
            dataType: 'jsonp',
            success: (data) => {
                if (data['g']) {
                    let list = data.g;
                    let t = []
                    list.forEach(el => {
                        t.push(el.q)
                    })
                    handleSuggestion(t)
                } else {
                    handleSuggestion([])
                }
            }
        })
    }
    const debounceHandleScroll = debounce(handleScroll, 100);
    $('[name="search"]').on('input', debounceHandleScroll);
    $(document).on("click", function (event) {
        if (!$(event.target).closest(".searchResult").length) {
            $("#searchRecommend").hide();
        }
    });
    $(".v-cloak").removeClass("v-cloak")

    var h = holmes({
        input: '#search',
        find: '.icons-item',
        hiddenAttr: true
    });
</script>

</html>